body {
    margin: 0;
    min-width: 1003px;
    padding: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    }
	span,a { margin:0px;
	padding:0px;
	}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.pageWrapper {
	border-top: 5px solid #f4f4f4;
	}
	
.headers {
	margin: 0 auto;
	width: 1003px;
}

.ab-product-dec {
margin: 0px 0px 15px 0px;

}

.ab-product-dec ul {
color: #E47719;
    font-size: 11px;
    list-style-type: disc;
    margin-bottom: 5px;
    padding-left: 15px;
}

.ab-product-dec ul li {
 list-style: disc outside none;
}
.ab-product-dec ul li span {
color: #555;
}
.category_num_count {
color:#888;
}
.ab-third-box-body {
padding: 40px 0px 0px 20px;
}

.ab-third-box-body .ab-products-home {
margin: 0px 0px 30px 0px;
}
.coming-soon-a {
border-radius: 8px;
background: #004B91;
color:#fff;
}
.coming-soon-a:hover {
background: #8AB818;
}

.coming-soon-li:hover {
background-color: #F4F4F4 !important;
}

.nav {
	
	
	}
.breadcrumb  {
margin: 5px 0px 5px 0px;
}
.breadcrumb ul li {
float:left;
text-transform: capitalize;
}

.breadcrumb ul li a {

}
.ab-popular-home-full-a {
position: absolute;
left: 0px;
top: 0px;
width: 150px;
height:170px;
}
.ab-item-left {
float:left;
}
.global-menu {
	display:block;
	
	padding: 0px 100px 0px 0px;
	float: right;
        z-index:113;
	}
.g-m-tabs {
	list-style: none outside none;
    margin: 0px 0px 0px 0px;
	float:right;
    padding: 0;
    z-index: 12;
	}
.gm-tab {
	background-color: #F4F4F4;
    border-bottom: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    display: block;
    float: right;
    margin-left: -1px;
    position: relative;
    text-align: left;
	margin-top:-1px;
	}
.gm-tab-a	
	{
	color: #555555;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    padding: 0 10px 0 10px;
    position: relative;
    z-index: 999;
	cursor:pointer;	
		}
.gm-tab-a:hover{
	background: #a8ce57;
	color:#FFF;
	}
.headerContainer {
	background: url(../images/background_stripes.gif);
	padding-bottom: 5px;
	margin: 0px;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	background-color:#ededed;
	
	}
.nav-logo {
	position:relative;
 	width: 1002px;
	height: 50px;
	}
.nav-search {
	margin: 0 auto;
 	width: 992px;
	height: 34px;
	padding: 6px;
	border-radius: 2px;
	/*background: url(../images/abhiabhi_sprite_v1.png) repeat-x scroll 0px -344px  transparent;*/
	background-color: rgba(0,0,1,0.3);
	}

.nav-menu {
	width: 200px;
        float:left;
	position:relative;
        overflow:hidden;
	}
	
.cat-root {
	background: url("../images/abhiabhi_sprite_v1.png") repeat-x scroll 0 -182px transparent;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    height: 33px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    width: 200px;
	}


.cate-root-title {
	color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 33px;
    padding: 0 0 0 25px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}

.menu-root
	{
          border-color: rgba (0, 0, 0 ,0) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
         
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	
	background:#085BAE;
	margin: 0 2px;
	position:absolute;
	top:35px;
	left:1px;
	width:194px;
	z-index:100;
	/*box-shadow: 0px 5px 5px 0px #999;
	-moz-box-shadow: 0px 5px 5px 0px #999;
-webkit-box-shadow: 0px 5px 5px 0px #999;*/
	}
	
.search-container{
	width:646px;
	float:left;
	margin: 0px 20px 0px 20px;
	}
				
.search-in input{  
	width: 573px;float:left;
	padding: 0px 0px 0px 15px;  
	margin: 0px 0px 0px 0px;  
	-moz-transition: border-color 0.2s ease 0s;
    font-size: 15px;
    height: 32px;
    overflow: hidden;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
   	border-radius: 2px 0px 0px 2px;
box-shadow: 0 0 6px 1px #CCCCCC !important;
border: 1px solid #f2f2f2;
	}	
	
.search-in input:focus {
	
	-moz-box-shadow: inset 0 0 2px #0033FF;
-webkit-box-shadow: inset 0 0 2px #0033FF;
box-shadow: inner 0 0 2px #0033FF;}

textarea:focus, input[type="text"]:focus,
input[type="password"]:focus {
border-color:rgba(82, 168, 236, 0.8);
border-width: 1px;
border-style: solid;
}	

.search-bttn input{
	padding: 0px !important; height: 34px !important; width: 56px ;
	background-color: #384B0C ; 
    background: url(../images/abhiabhi_sprite_v1.png) no-repeat scroll 0px -108px transparent ;
    cursor: pointer;
    color: #FFFFFF ;
	font-weight:normal;
	border:none;
	box-shadow:none;
	
        
         border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 0px 4px 4px 0px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);


    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
         

 	}
	
.search-bttn input:hover{
	}
 
.sign-in-bttn {

	float:left;
	border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    outline: 0 none;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: normal;
	text-align:center;
	height: 32px;
    width: 102px;
	line-height: 32px;
	background-color: #E0E0E0;
    background-image: -moz-linear-gradient(center top , #FAFAFA 0pt, #DCDCDC 100%);
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    box-shadow: 0 0 1px #FFFFFF inset;
    text-shadow: 0 1px 0 #FFFFFF;
	}
.sign-in-bttn:hover{
	background-image: -moz-linear-gradient(center top , #F0F0F0 0pt, #E6E6E6 100%);
    border-color: #AAAAAA #AAAAAA #999999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset;
	}
.sign-in-bttn a{
	font-weight: bold;
	color: #555555;
	}
		
.share-ico{
	width: 100px;
	height: 21px;
	position:absolute;
	top:15px;
	right:0px;
        z-index: 60;

	}
.share-ico a{
	overflow: hidden;
	}

.fb-icon{
	width:20px; 
	height:21px;
	background: url(../images/abhiabhi_sprite_v1.png) no-repeat scroll 0px -262px  transparent;
	margin: 0px 0px 0px 10px;
	float:right;
	}

.twitter-icon {  
	width:20px; 
	height:21px;
	float:right;
	background: url(../images/abhiabhi_sprite_v1.png) no-repeat scroll -25px -262px  transparent;
}
	
.abhiabhi-logo{
	height:50px; 
	width:200px;
	float:left;
	background: url(../images/abhiabhi_sprite_v1.png) no-repeat scroll 0px -290px  transparent;
	}
.block-link{	
	 -moz-user-select: none;
    display: inline-block;
    text-indent: -100em;
	}
.ab-item-page {
	margin: 0px auto;
	position:relative;
	width: 1003px;
	
	}
.ab-item-block {
	
	padding: 10px 0px 10px 0px;
	float:left;
	margin-right: 15px;
	width:688px;
	}
.ab-item-image-block {
	width:165px;
	float:left;	
	}

.ab-item-image {
	
    height: 180px;
    margin: 10px 0px 0px 0px;
    position: relative;
    text-align: center;
    vertical-align: middle;
overflow:hidden;
padding:5px;
	}
.ab-item-image img {
max-height:150px;
max-width:120px;

display: block;
    
    margin-left: auto;
    margin-right: auto;
}
	
.ab-item-image-large {
	 background: none repeat scroll 0 0 #EEEEEE;
    font-size: 11px;
	text-align: center;
	padding:0px 0px 5px 0px;
	margin: 0px 0px 10px 0px;
	}
.ab-item-share-block {

	}

.ab-item-details-block {
	float:left;
	padding-left:15px;
	width:508px;
	
	}
.ab-item-title h2{
	 display: inline;
    font-family: "trebuchet MS","lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height:19px;
	}
.item-color {
	font-size: 17px;
    font-weight: normal;
	}
.ab-ul-disc {
	list-style-type: disc;
	}
.ab-item-summry-extra {
font-size:11px;
color:#555;
}
.ab-item-summry-extra ul {
	font-size: 12px;
    margin-bottom: 10px;
    margin-left: 0px;
    line-height: 12px;
    
color:#555;
	}
.item-price-block {
	float:left;
	width:200px;
	
	}
.item-avail-block {
	float:left;
	border-left: 1px solid #DDDDDD;
	padding: 0px 0px 0px 10px;
	margin: 5px 0px 0px 0px;
	}
.item-price-span {
	float: left;
    margin-right: 10px;
    margin-top: 8px;
	font-size: 13px;
    line-height: 16px;
	color:grey;
font-size:12px;

	}
.item-best-price {
	
    
    white-space: nowrap;
	color: #CC0000;
	font-size: 20px;
    font-weight: bold;
    
	}
.ab-item-best-price {
	margin: 0px 5px 10px 0px;
	}
.stock-info {
	font-size: 16px;
    font-weight: normal;
    padding-bottom: 6px;
	 color: #009900;
}

.shipping-details {
	 line-height: 16px;
	 }	
.bold-text {
	font-weight:bold;
	}
.ab-visit-store {
	background-color: #EEEEEE;
	font-size: 13px;
    padding: 8px;
	margin: 15px 0px 0px 0px;
	height:32px;
        
	}
.store-link {
	
	padding: 0px 10px 0px 0px;
	
	}
.store-link a {
    height: 26px;
	display: inline-block;
	border: 1px solid #DDDCDC;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    line-height: 1em;
    text-transform: uppercase;
	font-weight:bold;
	}
.store-link span {
	 background-color:  #8ab818;
    border: 1px solid #FFFFFF;
    display: block;
    padding: 6px 10px;
	}
.store-link span:hover {
	background-color:  #6f9513;
	}
	
.clr {
	border: medium none;
    clear: both;
    display: block;
    float: none;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
	}
.ab-pricing-table {
	  border: 1px solid #B3B3B3;
    border-collapse: separate;
    text-align: center;
    width: 100%;
	}
tr.section {
	height:40px;
	background: url("../images/abhiabhi_sprite_v1.png") repeat-x scroll 0 -403px transparent;
	}
tr.section td {
	
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
vertical-align:middle;
	}
tr.pricing-table {
	height: 48px;
	}
.pricing-table td {
	border-bottom: 1px solid #E0E0E0;
    empty-cells: show;
    padding: 10px 0;
    vertical-align: middle;
	
	}
.table-head td {
	border-bottom:1px solid #E0E0E0;
	color: #78806C;
	}
.ab-webrupee{
	  color: #60810F;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding-left: 10px;
	}
.item-specs-table {
	 font-size: 13px;
    margin-top: 4px;
    width: 100%;
	}
.ab-item-title{
	display: block;
    font-family: tahoma,verdana,arial,sans-serif;
    padding: 15px 0 0px;
	}
.ab-specs-grp-head {
	 background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
	font-weight: bold;
    padding: 5px;
    text-align: left;
    text-transform: uppercase;
	vertical-align: top;
	}
.table {
	 border-collapse: collapse;
    border-spacing: 0;
	}
.specs-key {
	font-weight: normal;
    padding: 5px;
    text-align: left;
    width: 25%;
	background-color: #F9F9F9;
    border: 1px solid #F2F2F2;
   text-transform:capitalize;
	}
.specs-vaule {
	background-color: #F9F9F9;
    border: 1px solid #F2F2F2;
	padding: 5px;
    text-align: left;
    vertical-align: top;
	}
.ab-item-right-block{
	float:left;
	padding: 10px 0px 10px 0px;
	width:300px;

	
	}
.head-white {
	background: url("../images/abhiabhi_sprite_v1.png") repeat-x scroll 0 -455px transparent;
	   padding: 12px 10px 10px 10px;
	}
.box-head-title {
	 color: #555;
    font-size: 17px;
    font-weight: bold;

	}
.ab-right-block {
	 border-color: #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-style: solid;
    border-width: 1px 1px 1px;
	margin: 15px 0px 15px 0px;
	}
.store-table {
	margin: 5px 0px 5px 0px;
	}
.ab-item-specs-block {
	margin: 20px 0px 5px 0px;
	}

.ab-item-specs {
	margin: 0px 0px 15px 0px;
	}



.comment-inputbox {
	 -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: background-color 0.25s linear 0s, border-color 0.25s linear 0s;
    border-color: #E7E7E7;
    border-radius: 2px 2px 2px 2px;
   
    border-style: solid;
    border-width: 1px;
    
    font-size: 13px;
  
    line-height: 18px;
    padding: 5px 9px;
	}
.comment-head {
	margin:0px 0px 15px 0px;
	}
.ab-comment-fields  {
	margin: 15px 0px 0px 0px;
	}
.comment-captcha {
	margin: 15px 0px 0px 0px;
	}
.ab-item-share-block{
	
	}
.item-gplus, .item-fb-like, .item-tweet {float:left; margin-right: 10px; width:70px;
	
	}
.item-gplus {
	padding: 3px 0px 0px 0px;
	}
.item-tweet {
	padding: 5px 0px 0px 0px;
	}
.item-fb-like {
        padding: 5px 0px 0px 0px;
}








.ab-brands-page {
	width: 1003px;
	margin: 0 auto;
	}
.ab-brands-block {
	margin: 15px 0px 0px 0px;
	}

.ab-brands-block-head {
	
	
	}
	
.ab-brands-block-head span {
	isplay: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
    outline: 0 none;
    padding: 0 15px;
    text-decoration: none;
	background-color: #EEEEEE;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
	padding:8px 10px;
	}
.ab-brands {
	
	width:150px;
	background: url("../images/brand_border.png") no-repeat scroll right top transparent;
	float:left;
	padding: 5px;
	
	}
.ab-brands-container {
	border: 1px solid #D9D9D9;
	margin: -1px 0px 0px 0px;
	padding: 30px 15px 15px 15px;
	background: url("../images/abhiabhi_sprite_v1.png") repeat-x scroll 0 -734px transparent;
	}


.ab-brands-logo {
	width: 140px;
	overflow:hidden;
        padding: 5px 0px 5px 10px;
	}
.ab-brands-logo img {
        height: 130px;

}
.ab-brands-name span {
	font-size: 12px;
	font-weight:bold;
	padding:5px 0px 5px 0px;
        text-transform:capitalize;
}
.ab-brands-name {
text-align:center;
}

.ab-brand-block {
	padding: 0px;
	
	}
.brand-logo {
	width: 140px;
	padding:10px 10px 0px 10px;
	
	}
.brand-logo img {
width:100px;
padding: 0 0 0 30px;

display: block;
    
    margin-left: auto;
    margin-right: auto;
}
	
.ab-brand-container {
	width: 1003px;
	margin:0 auto;
	}
.brand-desc {
	padding: 15px;
	float:left;
	
	}
.ab-brand-product-box {
	float:left;
	
        padding: 10px;
	}
.ab-brand-product-box-in {
border: 1px solid #fff;
height:265px;
width: 149px;
position:relative;
}
.ab-brand-product-box-in-a-full {
position:absolute;
height:265px;
width: 150px;
top:0px;
left:0px;
}

.ab-brand-product-box-in:hover {
border: 1px solid #8AB818;
}
.product-image {
	
overflow:hidden;
height:180px;
	
	}
.product-image img {
  max-height: 120px;
    max-width: 120px;
padding: 10px;

display: block;
    
    margin-left: auto;
    margin-right: auto;
}
.product-price {
	color: #BB0000;
    display: block;
    font-weight: bold;
	text-align: center;
	}
.product-summery {
	padding: 0px;
	}
.product-name{
	padding: 0px;
text-align: center;
font-weight:bold;
	}
.product-details-list {
	color: #E47719;
    font-size: 11px;
    list-style-type: disc;
    margin-bottom: 5px;
    padding-left: 15px;
	}
.product-details-list li {
	list-style: disc outside none;
	
	}
.product-details-list li span {	
	color: #000;
	}
.product-name a { 
	display: inline-block;
    font-size: 13px;
    line-height: 16px;
    margin-right: 0.1px;
    padding-top: 5px;
    color: #004B91;
    text-decoration: none;
	}
.product-name a:hover {
	text-decoration:underline;
	}
.ab-category-title {
	font-width: 18px;
	font-weight:bold;
text-transform: capitalize;

	}
.ab-category-products-container {
	
	margin:0px 0px 15px 0px;
	padding: 0px;
	}
.ab-category-products {
margin: 0px 0px 20px 0px;
border: 1px solid #f2f2f2;
}

.ab-brand-name-title {
	
	font-size: 12px;
	padding: 0px;
        margin: 0px;
line-height:28px;
font-family: "trebuchet MS";	
	}

.total-product-count {
	
	font-size: 14px;
	}

.category-product-count {
	font-weight: normal;
	}
.ab-brand-products .head-white {
        
}
.search-result-for {
  color: #666666;
    font-size: 14px;
    font-weight: normal;
}

.search-result-count {
background-color: #FFFFFF;
    color: #333333;
    cursor: default;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
}	
	
	
	








.ab-category-container {
	width: 1003px;
	margin: 0 auto;
	
	
	}
.ab-category-filters {
	background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    margin-bottom: 10px;
	
	}
.filters {
margin: 5px 0px 0px 0px;
}
.ab-category-filter {
	margin:0px 0px 15px 0px;
	}
.ab-category-left {
	float:left;
	width: 225px;
margin: 15px 15px 0px 0px;
	}
.filter-list {
	border-bottom: 1px solid #EEEEEE;
	 display: block;
    font-size: 13px;
    list-style-type: none;
    margin: 0 5px;
	}
.filter-list:hover {
	background-color: #f2f2f2;
	}

.filter-list a{
	display: block;
    padding: 7px 3px 7px 8px;
    text-decoration: none;
    text-transform: capitalize;

	}

a {
    color: #004B91;
    text-decoration: none;
}

.filter-head {
	padding: 8px 10px;
	background-color: #f2f2f2;
	}
.filter-head-title {
	
    display: inline;
    font-size: 14px;
    font-weight: bold;
    padding: 0 3px;
	}
	
.ab-category-content {
	width: 763px;
	float:left;
	margin: 15px 0px 0px 0px;
	
	}
.ab-product-box {
	padding: 10px;
	
	float:left;

overflow:hidden;


	}

.ab-product-box-in {
 border: 1px solid #fff;
height:170px;
width:158px;
position:relative;
padding: 5px;
overflow:hidden;
}

.ab-product-box-in:hover {
 border: 1px solid #8AB818;
}
.ab-product-image {
	text-align: center;
    padding: 0px 0px 5px 0px;
height:105px;
   

	}
.ab-product-image img {
  max-height: 100px;
    max-width: 100px;

display: block;
    
    margin-left: auto;
    margin-right: auto;
}
.ab-product-name {
	text-align:center;
	}
.ab-product-name h2 {
	display: inline;
    font-weight: bold;
    line-height: 13px;
    margin: 0;
    padding: 0;
	
	}
.store-count {
font-size: 11px;
color: #6F9513;
}
.ab-product-name a {
	color: #004B91;
	font-size: 13px;
	font-family: tahoma,verdana,arial,sans-serif;
        font-weight: bold;
        line-height:13px;
	}
.ab-product-name a:hover {
	
	}
.ab-category-right {
	float:left;
	margin: 15px 0px 0px 0px;
	}
.price-box span {
	display:inline-block;
	}
.price-box b {
	display:inline-block;
	}
.ab-product-price {
	text-align:center;
	}
.price-box {
	 margin-bottom: 0px;
	 margin: 0px 0px 0px 0px;
	
	}
.ab-product-summery {
	float:left;
	margin: 10px 0px 0px 15px;
	}
	
.ab-footer {
	margin:0 auto;
	width:1003px;
	
	padding: 10px 0px 10px 0px;
	border-top: 3px solid #8AB818;
	    background: url("../images/abhiabhi_sprite_v1.png") repeat-x scroll 0 -734px transparent;
	}

.ab-category-view-change {
	 border: 1px solid #DCDCDC;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 5px 7px;
	
}

.ab-view-change {
	float:right;
	margin: 0px 20px 0px 0px;
	}
.ab-view-change li {
	float:left;
	}

.ab-result-count {
	float:left;
	line-height:28px;
	}
	
.ab-category-list-view{
	width: 90px;
	height:29px;
	
	background: url("../images/abhiabhi_sprite_v1.png") no-repeat scroll -110px -247px transparent;
	line-height:29px;
	
	}
.ab-category-gird-view {
	width: 100px;
	height:29px;
	
	 background: url("../images/abhiabhi_sprite_v1.png") no-repeat scroll -110px -225px transparent;
	 line-height:29px;
	 background-color:#f1f1f1;
	}
.ab-view-change li span {
	padding-left:30px;}


.ab-category-gird-view:hover, .ab-category-list-view:hover {
	background-color:#f1f1f1;
	cursor:pointer;
	}
.ab-category-store-link {
	height:30px;}
.ab-sort-by {
	float:right;
	}
.item-price-block .store-link {
	margin: 10px 10px 0 0px;
	}
.ab-landing-wrap {
	
	}
.ab-home-cantainer {
	width:1003px;
	margin: 0 auto;
	}
.ab-home-top {
	margin: 15px 0px 15px 0px;
	
	}
.ab-home-top-left {
	
	margin: 0px 15px 0px 0px;
	width:686px;
	height:280px;
	border: 1px solid #d9d9d9;
	float:left;
	
background: url("../images/abhiabhi_sprite_v1.png") repeat-x scroll 0 -455px transparent;
	}

.ab-top-seller-body {
	background: url("../images/abhiabhi_sprite_v1.png") repeat-x scroll 0 -455px transparent;
	
	
        padding: 0px 10px 0px 10px;
	}
.ab-home-top-left .head-white {
border-bottom: 3px solid #8AB818;
}
.ab-third-box-left {
	width: 684px;
	margin: 0px 15px 0px 0px;
	float:left;
	border: 1px solid #d9d9d9;
	height: 600px;
	}
.ab-third-box-right {
	width:300px;
	height: 600px;
	border: 1px solid #d9d9d9;
	float:left;
	
	}
.ab-home-second-top {
	margin: 0px 0px 15px 0px;
	}
.ab-third-box-head {
	margin: 5px 10px 10px 10px;
	border-bottom: 3px solid #8AB818;
	line-height:30px;
	font-size:18px;
	
	}
.ab-home-third-box {
	margin: 0px 0px 15px 0px;
	}
.ab-footer-coryright {
	width: 450px;
	float:left;
	padding: 0px;
	color: #666;
	font-size:11px;
	}
.ab-footer-wrap {
	
	}
.ab-footer-lower {
	border-top:1px solid #d2d2d2;
	padding: 5px 0px 0px 0px;
	margin: 0px 10px 0px 10px;
	}
.ab-footer-social {
	
	
	}
.ab-footer-upper {
	margin: 0px 10px 10px 10px;
	}
	
.ab-footer-upper-left {
	width:400px;
	float:left;
	}
.ab-footer-fb {
	float:left;
	margin: 0px 10px 0px 0px;
	}
.ab-footer-twitter {
	float:left;
	margin:0px 10px 0px 0px;
	}
.ab-footer-subscribe {
	margin: 0px 0px 5px 0px;
	}
.ab-footer-subscribe .comment-inputbox {
	width:200px;
	}
.ab-footer-subscribe  span {
	font-size:11px;
	color:#666;
	}
.subs-submit {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E0E0E0;
    background-image: -moz-linear-gradient(center top , #FAFAFA 0pt, #DCDCDC 100%);
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px #FFFFFF inset;
    cursor: pointer;
    
    font-size: 11px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    outline: 0 none;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    vertical-align: middle;
    white-space: nowrap;
    width: 80px;
    word-wrap: normal;
	color: #555555;
    font-weight: bold;
	}
.subs-submit:hover {
background-image: -moz-linear-gradient(center top , #F0F0F0 0pt, #E6E6E6 100%);
    border-color: #AAAAAA #AAAAAA #999999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset;
}
.ab-footer-upper-right {
	float:right;
	}
.footer-link-cell {
	float:left;
	color:#555;
	font-size:11px;
	font-weight:bold;
	margin: 0px 30px 0px 0px;
	}
.footer-link-cell li {
	font-weight:normal;
	}
.ab-store-heading {
font-size: 14px;
color:#555;
margin: 10px 0px 0px 0px;
}
.upcoming-image img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 160px;
    padding: 60px 0 0;
}
.upcoming-title {
font-size: 13px;
font-weight: bold;
text-align:center;
margin:10px;
}
.upcoming-full-a {
position:absolute;
top: 0px;
left:0px;
width:298px;
height:278px;
}
.ab-store-heading h3 {

    color: #555555;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 10px;
}
.similar-item-box {
 border-top: 1px solid #DCDCDC;
    clear: both;
    padding: 10px 10px 5px 15px;
    position: relative;
}

.similar-item-box .lowest-price {
color: #CC0000;
    font-size: 14px;
    font-weight: bold;
}
.similar-item-box img {
height:50px;
max-width:50px;
float:left;

display: block;
    
    margin-left: auto;
    margin-right: auto;


}
.similar-item-box-a {
color: #000000;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
cursor: pointer;
}
.ab-image-container-50 {
 width: 50px;
overflow:hidden;
float:left;
margin: 0px 15px 0px 0px;

}

.ab-products-home {
background: url("../images/brand_border.png") no-repeat scroll right top transparent;
    float: left;
    padding: 5px;
    width: 148px;
border: 1px solid #fff;
position:relative;
height: 183px;

}
.home-pro-full-a {

}

.ab-home-top-right {
float:left;

}

.coming-soon {
width:298px;
border: 1px solid #f2f2f2;
height: 278px;
background: url("/images/coming-soon.png") repeat scroll 0 0 transparent;
position: relative;
}

.ab-products-home:hover {
border: 1px solid #8AB818;
}



.ab-products-logo-home {
overflow: hidden;
    padding: 5px 0 5px 10px;
   min-height:120px;
}
.ab-products-logo-home img {
max-height: 110px;
max-width: 125px;

display: block;
    
    margin-left: auto;
    margin-right: auto;
}
.ab-products-name-home {
padding: 0px 5px 5px 5px;
text-align:center;
}

.ab-products-name-home span {
 font-size: 12px;
   font-weight: bold;    
}

.lowest-price {
color: #CC0000;
    font-size: 14px;
    font-weight: bold;
}

.ab-best-seller-box {
border: 1px solid #FFFFFF;
    float: left;
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 140px;
height:200px;


}
.ab-best-seller-box:hover {
 border: 1px solid #8ab818;
}
.ab-best-seller-box .price-box {
text-align:center;
}
.ab-best-seller-image {
 margin: 0 0 5px;

overflow:hidden;
}
.ab-best-seller-image img {
height:130px;

display: block;
    
    margin-left: auto;
    margin-right: auto;
}
.as-low-as {
 font-size: 12px;
    font-weight: bold;
color: #555;
}

.ab-best-seller-name {
 font-size: 12px;
    font-weight: bold;
text-align: center;
}
.popular-product-a  {
padding: 10px 0px 0px 0px;

}

 .ab-search-result-container {
	 width: 1003px;
	 margin:0 auto;
padding: 15px 0 0 0;
	 }
.search-result-right {
width:763px;
	margin: 0px 0px 15px 0px;
	float:left;
	

	}
.search-result-left {
	
width:300px;
        float:left;
margin: 0px 15px 0 0;
    width: 225px;

	}
.full-box-a {
background-color: #FFFFFF;
    height: 155px;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 168px;
}
.browse-by {
font-size:16px;
font-weight:bold;
padding: 5px;
color:#fff;
background-color:#064380;
}

.sign-in-box {
position:absolute;
top: 27px;
left: -1px;
background: #f4f4f4;
padding: 10px;
z-index:111;
border: 1px solid #ccc;
}

.sign-in-box .ab-form-feilds {
 margin: 0px 0px 10px 0px;

}
.sign-in-bttn input {
color: #555;
font-weight: bold;
width: 70px !important;
background: none;
text-shadow: 0 1px 0 #FFFFFF;
font-size: 11px;
letter-spacing: 1px;

}
.sign-in-box .sign-in-bttn {
float:none !important;
}



.sign-in-tab {
overflow: hidden;
}
.forget-pass a {
  color: #545454;
    text-decoration: underline;
line-height: 18px;
}

.ab-brands-left {
width: 688px;
float:left;
margin: 0px 15px 0px 0px;
}
.ab-brands-right {
width:300px;
float:left;
margin: 15px 0 0 0;
}

.ab-brand-left {
width: 688px;
float: left;
margin: 15px 15px 15px 0px;
}

.ab-brand-right {
width:300px;
float:left;
margin: 15px 0px 0px 0px;
}

.ab-search-product-box {

margin: 0 0 20px;
    padding: 0;
}

.ab-search-product-box {
float:left;
padding:10px;
}

.ab-search-product-box-in {
border: 1px solid #FFFFFF;
    height: 265px;
    position: relative;
    width: 165px;
overflow:hidden;
}
.ab-search-product-box-in:hover{
border: 1px solid #8AB818;
}

.ab-search-product-image {
height: 160px;
    overflow: hidden;
}

.ab-search-product-image img {
max-height: 125px;
    max-width: 120px;
    padding: 10px 10px 0px 10px;

display: block;
    
    margin-left: auto;
    margin-right: auto;}

.ab-search-product-name {
    font-weight: bold;
    padding: 0;
    text-align: center;
}

.ab-search-product-name a{
color: #004B91;
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    margin-right: 0.1px;
    padding-top: 5px;
    text-decoration: none;
}

.ab-search-product-price {
color: #BB0000;
    display: block;
    font-weight: bold;
    text-align: center;
}

.vertical-menu-container {
width:1003px;
margin: 0px auto;
}

.vertical-menu li {
display: block;
    float: left;
    font-size: 11px;
    height: 23px;
    line-height: 23px;
    margin-right: 10px;
text-transform: capitalize;

}

.vertical-menu-wrap {
background-color:#f4f4f4;
border-bottom:1px solid #e5e5e5;
}


.vertical-menu li a{

    padding: 1px 10px;
    text-decoration: none;
}
.vertical-menu li:hover {
background-color:#fff;
}

.selected {
background: url("../images/filter-cross-active.png") no-repeat scroll right center transparent;

background-color: #f2f2f2;
height: 16px;
vertical-align: bottom;

}

.side-bar-brand-logo {
max-height:50px;
max-width:50px;
}

.ab-brand-link-sidebar {
padding: 10px 0px 0px 10px;
font-size:14px;
font-weight:bold;
text-transform: capitalize;
float:left;
}

.side-bar-brand-logo-box {
float:left;
width:50px;
height:50px;
overflow: hidden;
}

.side-bar-brand-a-box {
float:left;
}
.ab-extra-prices-head {
border-bottom: 3px solid #8AB818;
font-weight:bold;
font-size: 18px;
color: #555;
margin: 5px 0px 10px 0px;

}
.ab-item-summery-top {
float:left;
margin-right:20px;
}

.ab-extra-prices-head h3 {
font-size:18px;
}

.ab_extra_prices ul li {
font-size: 12px;
line-height: 18px;


}
.ab_extra_prices ul li a:hover {
text-decoration: underline;
}

.ab_extra_prices {
margin: 0px 0px 15px 0px;
border: 1px solid #f2f2f2;
padding: 10px;
}
.similiar-price-list-brand {
font-weight:bold;

}

.ab_extra_prices_1 {
 border: 1px solid #F2F2F2;
    margin: 15px 0 0;
    padding: 10px;
}

.extra-item-container {

}

.extra-item-bottom {
  float: left;
    height: 195px;
    margin: 5px;
    padding: 5px;
    width: 110px;
 border: 1px solid #FFFFFF;
position: relative;
overflow:hidden;
}
.extra-item-bottom:hover {
 border: 1px solid #8AB818;
}

.extra-item-bottom img {
max-width: 100px;
max-height:90px;
display: block;   
    margin-left: auto;
    margin-right: auto;
}

.extra-item-a{
float:left;
}

.extra-item-bottom-img-container {
height:100px;
padding: 0px 5px 10px 5px;
}

.extra-item-full-a {
position: absolute;
top:0px;
left: 0px;
width:110px;
height:195px;}

.lowest-price-small {
color: #CC0000;
    font-size: 12px;
    font-weight: bold;
}
.sidebar-full-a {
width: 270px;
height:50px;
position:absolute;
left: 0px;
top:0px;
}

.ab-brand-block-left {
float:left;
margin: 0px 30px 0px 0px;
}

.brand-view-all {
float:right;
margin: 0px 20px 0px 0px;
}

.brand-view-all a:hover {
text-decoration:underline;
}
.ab-brand-products {
margin: 15px 0px 0px 0px;
}
.ab-brand-block-right-head {
border-bottom: 1px solid #F2F2F2;
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    color:#555;
}
.ab-brand-block-right {
border: 1px solid #F2F2F2;
    float: left;
    margin: 0;
    padding: 10px 10px 10px 30px;
    width: 448px;
}
.ab-brand-block-right ul li{
font-size:12px;
font-weight:bold;
text-transform: capitalize;

}
.ab-brand-block-right ul li a:hover {
text-decoration: underline;
}
.ab-brand-block-right ul {
list-style-type: disc;
color: #555;
line-height: 18px;
margin: 5px 0px 0px 20px;
}
.ab-brand-block-right ul li span {
font-weight:normal;
}
.browse-by-brand {
background-color: #8AB818;
}
.browse-by-brand a:hover {
background: #6f9513 !important;
}
.ab-category-result-count {
font-size: 12px;
    line-height: 28px;
    margin: 0;
    padding: 0;
float:left;
}


.current-product-count, .total-product-count {
font-weight: bold;
font-family: "trebuchet MS";
font-size: 14px;

}

.category-page-no {
border-top:1px dotted #ccc;
border-bottom:1px dotted #ccc;
font-size: 13px;
margin: 10px 0px 10px 0px;
padding:5px 0px;
text-align: center;

}

.category-page-no img {
height: 15px;
margin: 0 15px 0 0;
}